<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vault Hunters</title>
    <link rel="stylesheet" href="{% static "css/style.css"%}" />
  </head>
  <body>
    <h1>Borderlands</h1>
    <h2>So, you want to hear a story, huh?</h2>
    <img id=vault src="{% static "images/pic.jpg"%}" alt="Picture Not Found">
    <p>One about treasure hunters? Haha, have I got a story for you! Pandora... This is our home. But make no mistake - this is not a planet of peace and love. They say it's a wasteland, that it's dangerous, that only a fool would search for something of value here. Then perhaps I am a fool. But do not be fooled by what Pandora appears to be.</p>
    <p>There was a legend... Many people tell it. The legend of the Vault. My father would always go on about the Vault; even with his dying breath. Advanced alien technology. Infinite wealth. Fame. Power. Women. So you can understand why some little kiddos who hear the stories grow up to become Vault hunters.</p>
    <p>Well, I have a story you may not believe. But I tell you it is true. The legend of the Vault is real! And it is here on Pandora. And a... let's call her a 'guardian angel,' appeared to guide the Vault hunters to their prize. The tale begins right here on Pandora, with the brave Vault hunters, the guardian angel and most importantly, me...</p>
    <img id=marcus src="{% static "images/marcus.jpg"%}" alt="Picture Not Found">
  </body>
</html>
